@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sevillana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background:#fff;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdbdb; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(169, 169, 169); 
}

@media screen and (max-width: 1200px) {
  .works-responsive {
    gap: 4% !important;
  }
  /*.WorksList {
    width: 66%;
  }*/
}

@media screen and (max-width: 992px) {
  .filter-box {
    padding: 4px 8px;
    height: 36px;
    gap: 4px;
  }
  .filter-box span {
    font-size: 16px;
  }
  .filter-box svg {
    width: 16px;
    height: 16px;
  }
  .filter-box img {
    width: 28px;
  }
  .dropdown {
    padding: 4px 6px;
  }
  .dropdown ul li {
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 1.2;
  }
  .worksFilter {
    width: 30%;
  }
  .WorksList{
    gap: 10px;
  }
  .filter-work .filter-box {
    margin-left: 8px;
  }
  .filter-work .filter-box span {
    font-size: 14px;
  }
  .worksFilter h3 {
    font-size: 14px;
    padding-left: 8px;
  }
  .list-jobs-type li label {
    font-size: 14px;
  }
  .list-jobs-type {
    margin-left: 8px;
  }
  .filter-work .dropdown {
    left: 8px;
  }
  /* Works Cards  */
  .worsListCard {
    gap: 16px;
  }
  .worsListCard .card-image {
    gap: 10px;
  }
  .worsListCard .card-image img {
    width: 120px;
  }
  .worsListCard .card-image span {
    font-size: 14px;
  }
  .worsListCard .card-about {
    line-height: 0.6;
  }
  .worsListCard .card-about h2 {
    font-size: 24px;
  }
  .worsListCard .card-about p {
    font-size: 16px;
  }
  .worsListCard .card-about span {
    font-size: 14px;
  }
  /* Footer  */
  .footer-logo a {
    font-size: 44px;
  }
  .footer-social-container{
      padding-top: 12px;
      padding-bottom: 12px;
  }
  .footer-social-container span{
      font-size: 16px;
  }
  .footer-social-container .footer-social-icons{
      gap: 8px;
  }
  .footer-social-container .footer-social-icons svg{
      width: 28px;
      height: 28px;
  }
  .works-responsive{
    height: 704px;
  }
}

@media screen and (max-width: 768px) {
  .filter-box {
    padding: 2px 8px;
    height: 28px;
  }
  .filter-box span {
    font-size: 12px;
  }
  .filter-box svg {
    width: 10px;
    height: 10px;
  }
  .filter-box img {
    width: 20px;
    height: 20px;
  }
  .filter-box .loader {
    width: 16px;
    height: 16px;
  }
  nav .container .logo,
  .logo1 {
    font-weight: 600;
  }
  .bi-person-circle {
    width: 32px;
    height: 32px;
  }
  .dark-mode {
    width: 48px;
    padding: 12px;
  }
  .toggle-knob {
    width: 20px;
    height: 20px;
  }
  .dark-mode.toggled .toggle-knob {
    left: 25px;
  }
  .dropdown ul li {
    font-size: 12px;
  }
  .worksFilter {
    width: 36%;
  }
  .filter-work .filter-box {
    margin-left: 4px;
  }
  .filter-work .filter-box span {
    font-size: 12px;
  }
  .filter-work .filter-box .loader {
    width: 12px;
    height: 12px;
  }
  .worksFilter h3 {
    font-size: 12px;
    padding-left: 4px;
  }
  .list-jobs-type li label {
    font-size: 12px;
  }
  .list-jobs-type {
    margin-left: 4px;
  }
  .filter-work .dropdown {
    left: 4px;
  }
  /* Works Card */
  .worsListCard {
    gap: 10px;
  }
  .worsListCard .card-image {
    gap: 8px;
  }
  .worsListCard .card-image img {
    width: 80px;
  }
  .worsListCard .card-image span {
    font-size: 12px;
  }
  .worsListCard .card-about {
    line-height: 0;
  }
  .worsListCard .card-about h2 {
    font-size: 20px;
  }
  .worsListCard .card-about p {
    font-size: 12px;
  }
  .worsListCard .card-about span {
    font-size: 12px;
  }
   /* Footer  */
   .footer-logo a {
    font-size: 36px;
  }
  .footer-social-container{
      padding-top: 12px;
      padding-bottom: 12px;
  }
  .footer-social-container span{
      font-size: 14px;
  }
  .footer-social-container .footer-social-icons svg{
      width: 24px;
      height: 24px;
      padding: 0;
  }
  .footer-social-container .footer-social-icons .bi-instagram{
    padding: 3px;
    border-radius:6px;
}
.footer-social-container .footer-social-icons .bi-youtube{
    padding: 3px;
}
.works-responsive{
  height: 632px;
}
}

@media screen and (max-width: 640px) {
  .filter-bg .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px !important;
  }
  .bi-person-circle {
    width: 28px;
    height: 28px;
  }
  .dark-mode {
    width: 46px;
    padding: 11px;
  }
  .toggle-knob {
    width: 18px;
    height: 18px;
  }
  .dark-mode.toggled .toggle-knob {
    left: 25px;
  }
  #exampleModalLabel {
    font-size: 14px;
  }
  .modal-header {
    padding: 10px;
    margin: 0;
  }
  .modal-body {
    padding: 10px;
    margin: 0;
  }
  .modal-footer {
    padding: 10px;
    margin: 0;
  }
  .modal-header svg {
    width: 14px;
    height: 14px;
  }
  .modal-body label {
    font-size: 14px;
  }
  .modal-footer button {
    font-size: 14px;
    padding: 2px 8px;
  }
  .modal-search {
    width: 60% !important;
  }
  .worksFilter {
    padding: 12px;
  }
  .filter-work .filter-box {
    width: 100%;
  }
  .filter-work .dropdown{
    width: 100%;
  }
  .works .works-responsive {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  /* Works Card */
  .worsListCard {
    gap: 8px;
    padding: 8px;
  }
  .worsListCard .card-image img {
    width: 64px;
    height: 60px;
    border-radius: 8px;
  }
  .worsListCard .card-about h2 {
    font-size: 18px;
  }
  .works-responsive{
    height: 570px;
  }
}

@media screen and (max-width: 480px) {
  .filter-box span {
    font-size: 12px;
  }
  .filter-box svg {
    width: 8px;
    height: 8px;
  }
  .filter-box img {
    width: 20px;
    height: 20px;
  }
  .header-account {
    gap: 12px !important;
  }
  .modal-search {
    width: 75% !important;
  }
  .worksFilter {
    gap: 18px;
    padding: 8px;
  }
  .worksFilter .filter-box {
    padding: 0;
    margin: 0;
  }
  .worksFilter h3 {
    padding-left: 0;
  }
  .list-jobs-type {
    margin-left: 0;
  }
  .filter-work .dropdown {
    left: 0;
  }
  .worksFilter{
    width: 50%;
  }
  /* Works Card */
  .worsListCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 8px;
    padding-bottom: 12px;
    border-radius:8px;
    padding-right: 0;
    padding-left: 0;
    gap: 4px;
  }
  .worsListCard .card-image img {
    display: none;
  }
  .worsListCard .card-image span{
    font-weight: 500;
  }
  .worsListCard .card-about{
    display: flex;
    align-items: center;
  }
  .worsListCard .card-about h2 {
    font-size: 14px;
  }
  .worsListCard .card-about p {
    font-size: 12px;
  }
  .worsListCard .card-about span{
    font-weight: 500;
  }
     /* Footer  */
     .footer-logo a {
      font-size: 32px;
    }
    .footer-social-container{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .footer-social-container span{
        font-size: 12px;
    }
    .footer-social-container .footer-social-icons svg{
        width: 20px;
        height: 20px;
    }
    .footer-social-container .footer-social-icons .bi-instagram{
      padding: 2px;
      border-radius:4px;
  }
  .footer-social-container .footer-social-icons .bi-youtube{
    padding: 2px;
    border-radius:4px;
  }
  .works-responsive{
    height: 504px;
  }
}
