.filter-bg {
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
.filter-box {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 44px;
  padding: 8px 24px;
  border-radius: 12px;
  background-color: #fff;
  border:2px solid #008ccc;
}
.filter-box span {
  font-size: 18px;
  color: #008ccc;
}
.filter-box svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
  color: #008ccc;
}
.filter-box img {
  cursor: pointer;
}
.filter-box img:hover {
  transform: scale(1.08);
}
.filter-box svg:hover {
  transform: scale(1.08);
}
.modal-search::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.modal-search {
  position: absolute;
  animation-name: search-modal;
  animation-duration: 5s;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
  animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1000;
}
.modal-header svg {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.modal-header svg:hover {
  transform: scale(1.08);
}
.dropdown {
  position: absolute;
  animation-name: dropdown-anim;
  animation-duration: 1000ms;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
  width: 100%;
  margin-top: 2px;
  border-radius: 6px;
  padding: 8px;
  background-color: #6EC1E4;
  color: #fff;
  z-index: 1000;
}
.dropdown-city{
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
}
.dropdown ul li {
  width: 100%;
  text-align: start;
  padding-left: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}
.dropdown ul li:last-child {
  border: none;
}
.dropdown ul li:hover {
  background-color: #8c8b8b;
}
.filter-box .loader {
  width: 18px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #008ccc) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
.filter-box .loader:hover {
  transform: scale(1.08);
  cursor: pointer;
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
@keyframes search-modal {
  0% {
    top: 0;
  }
  100% {
    top: 60%;
  }
}
@keyframes dropdown-anim {
  0% {
    margin-top: 40px;
  }
  100% {
    margin-top: 2px;
  }
}
