.account-header {
  margin-bottom: 20px;
}
.account-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.account-container .account-user {
  display: flex;
  align-items: center;
  gap: 14px;
}
.account-container .account-user svg {
  width: 64px;
  color: #008ccc;
  height: 64px;
}
.account-username {
  line-height: 0.4;
  margin-top: 4px;
}
.account-username h3 {
  font-size: 24px;
}
.account-username p {
  opacity: 0.8;
  font-size: 16px;
}
.btn-account {
  padding: 6px 24px;
  border-radius: 12px;
  background-color: #fff;
  color: #008ccc;
  border: 2px solid #008ccc;
  transition: all 1s;
  cursor: pointer;
}
.btn-account:hover{
    background-image: linear-gradient( to right, #5de0e6, #004aad);
    color: rgb(12, 12, 12);
}
.btn-account:active{
    background-color: #006898;
}

@media screen and (max-width:768px) {
  .account-container .account-user svg{
    width: 48px;
    height: 48px;
  }
  .account-container .account-user{
    gap: 10px;
  }
  .account-username {
    line-height: 0.2;
    margin-top: 6px;
  }
  .account-username h3 {
    font-size: 18px;
  }
  .account-username p {
    font-size: 12px;
  }
  .btn-account {
    padding: 2px 10px;
    font-size: 14px;
    border-radius:8px;
  }
  .account-container{
    height: 80px;
  }
}