.accountBody {
    display: flex;
    margin-bottom: 15px;
}

.col-1 {
    width: 30%;
}

.col-2 {
    width: 65%;
}

.col-2>div {
    position: relative;
    border-radius:8px;
    padding: 10px;
    padding-left: 15px !important;
    background-color: #d9d9d9;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0px 0px 4px 2px rgba(34, 60, 80, 0.2);
}

.col-2>div:first-child{
    margin: 0;
}

.div-file {
    padding: 10px;
    border-radius: 8px;
    background-color: #f8f9fa;
}

.accountBody button {
    border-radius:8px;
    color: #008ccc;
    background:#fff;
    border:2px solid #008ccc;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: all 0.5s;
}

.div-file button {
    background-color: #008ccc;
    color: white;
}

li button {
    background-color: #008ccc;
    color: white;
}
.li-div button {
    background-color: #008ccc;
    color: white;
}

.ochiqlama {
    color: #737373;
    margin-top: 20px !important;
}

.btn-add {
    position: absolute;
    top: 10px;
    right: 10px;
}

h2 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: larger;
}

li div {
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f9fa;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.col-1>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    background-color: #737373;
    height: 350px;
    margin: auto;
    border-radius:8px;
    box-shadow: 0px 0px 4px 2px rgba(34, 60, 80, 0.2);
}
.col-1 p{
   text-align: center;
   padding-top: 15px;
   font-size: larger;
   font-family:"Cursive","Lucida Handwriting"
}
.col-1 .btn-elon {
    display: inline-block;
    color: #008ccc;
    background:#fff;
    border:2px solid #008ccc;
    width: 80%;
    padding: 6px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    transition: all 0.5s;
  }
  .accountBody button:hover{
    background-image: linear-gradient( to right, #5de0e6, #004aad);
    color: rgb(12, 12, 12);
  }

  .col-2>div:hover{
    transform: scale(1.009);
  }

  @media screen and (max-width: 992px){
.col-1{
    display: none !important;
}
.col-2{
    width: 90%;
    margin: auto;
}
  }

  @media screen and (max-width:768px) {
    .accountBody {
        margin-bottom: 12px;
    }
    .col-2 p,button{
        font-size: 14px;
    }
    .col-2 h2{
        font-size: 18px;
    }
    .col-2 {
        width: 90%;
    }
    
  }